* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

#items {
    height: auto;
    width: 50%;
    margin: 6%;
}

div {
    display: block;
}

h1 {
    color: #FFFFFF;
    font-size:4.5vw;
    font-weight: bold;
}

p {
    color: #A9A9A9;
    margin: 0;
    font-size: 1.02vw;
    line-height: 1.3;
    max-width: initial;
    font-weight: regular;
}

.explore {
    background-color: #d9d9d9;
    padding: 0.85em 2em;
    width: max-content;
    height: max-content;
    border-radius: 32px;
    margin: 4%;
    margin-bottom: 6%;
    font-weight: 900;
    font-size: 0.9vw;
    text-align: center;
    border: 0;
}

.logo {
    width: 16vw;
    height: 9vw;
    margin: 3%;
}

.social {
    padding: 0;
    border: 0;
    max-height:min-content;
    margin: auto 1%;
    background-color:#d9d9d9;
    border-radius: 32px;
    height: 2.5vw;
    width: 2.5vw;
    padding-top: 0.35%;
}

.icon {
    background-color:#d9d9d9;
    height: 1vw;
    width: 1vw;
}